#root{
    width: 100vw;
    --highlight: #ED7D3A;
    --background: #FDFDFF;
    --menu: #102E4A;
    --border: #828E82;
    --highlightbackground: #718F94;
    --greenbutton: #82D173;
}

body{
    display: flex;
    justify-content: center;
}
.NewProductFormContainer{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
        
}

.NewProductForm{
    display: grid;
    gap: 4px;
    padding: 8px;
}

input, select{
border-radius: 5px;
}

.WhiteSelection{
    background-color: white;
}

.OffWhiteSelection{
    background-color: beige;
}

.IvorySelection{
    background-color: bisque;
}

.ProductSubmitButton{
    background-color: var(--greenbutton);
    margin: 4px;
}

.backLink{
    color: red;
}

    .form-errors {
    background-color: #ffe0e0;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
    color: darkred;
    font-size: 0.9em;
    }