#root {
  max-width: none;        /* Remove fixed max-width */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --highlight: #ED7D3A;
  --background: #FDFDFF;
  --menu: #102E4A;
  --border: #828E82;
  --highlightbackground: #718F94;
  --greenbutton: #82D173;
}

html, body, #root {
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
  
}

.AppLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.PageContent {
  display: flex;
  flex-grow: 1;
}

.MainContent {
  flex-grow: 1;
  padding: 20px;
  padding-left: 220px;
}

.Navbar.Collapsed ~ .MainContent {
  padding-left: 64px;
}