.PageTitle{
    color: black;
    align-content: center;
    justify-self: left;
    padding-left: 4px;
    font-weight: 700;
}

.NewsaleButton{
    background-color: lightgrey;
}

.NewsaleButton:hover{
    background-color: green;
}