:root{
    --highlight: #ED7D3A;
    --background: #FDFDFF;
    --menu: #102E4A;
    --border: #828E82;
    --highlightbackground: #718F94;
    --greenbutton: #82D173;
}
.Navbar{
    height: 100vh;
    background-color: var(--menu);
    padding-top: 4px;
    padding-bottom: 16px;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    box-sizing: border-box; 

}

.Expanded {
    width: 200px;
}

.Collapsed{
    width: 64px;
}

.Navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Navbar li {
    margin: 5px 0;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 3px;
    display: block;
}

.logoimage{
    max-height: 100px;
    max-width: 150px;
    align-self: center;
}

.MenuIcon {
    width: 24px;
    height: 24px;
    display: inline-block; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

.MenuLine{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 18px;
}

.MenuLine:hover{
    background-color: #80808080;
    
}

.MenuTitle{
    font-size: 1em;
}

.NoPad{
    padding: 0px;
    margin: 0px;
}
.LowPad{
    padding: 4px;
    margin: 0px;
}

.MenuList li{
    margin-top: 0px;
    margin-bottom: 0px;
}

.MenuList {
        flex-grow: 1;
}

.CollapseButton{
    background-color: transparent;
    padding: 0px;
    border: none;


}

.CollapseButton:focus{
        outline: none;
}

.CollapseButton img{
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
}

.HeaderBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 12px;    
    margin: 4px;
}

.Header {
    font-size: 0.75em;
    font-weight: 600;
    color: white;
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
    justify-content: center;
    
}

.AdminNav {
    margin-top: auto;
}

.user-section {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.user-info {
    padding: 8px 12px;
}

.username {
    color: white;
    font-size: 0.85em;
    margin: 0 0 8px 0;
    padding: 0 6px;
    font-weight: 500;
    text-align: left;
}

.logout-button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 6px 18px;
    background-color: rgba(237, 125, 58, 0.2);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 0.9em;
}

.logout-button:hover {
    background-color: rgba(237, 125, 58, 0.4);
}

.logout-button span {
    font-size: 1em;
}

.logout-button .MenuIcon {
    margin-right: 0;
}

.logout-button-collapsed {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 100%;
}

.logout-button-collapsed:hover .MenuLine {
    background-color: rgba(237, 125, 58, 0.3);
}

.logout-button-collapsed .MenuLine {
    transition: background-color 0.2s;
    border-radius: 4px;
    padding: 8px 18px;
}