:root{
    --highlight: #ED7D3A;
    --background: #FDFDFF;
    --menu: #102E4A;
    --border: #828E82;
    --highlightbackground: #718F94;
    --greenbutton: #82D173;
}
.Navbar {
    width: 200px;
    height: 100vh;
    background-color: var(--menu);
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.Navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Navbar li {
    margin: 10px 0;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.Navbar a:hover {
    background-color: var(--highlight);
}

.logoimage{
    max-height: 150px;
}