.footercontainer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;

}

.copyrightdisclaimer{
    color: grey;
    margin: 0;
    padding: 0px;
    font-size: 0.5rem;
    font-weight: 700;
}