.FormFields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.SubmitButton{
    background-color: lightgray;
    margin-top: 8px;
}

.SubmitButton:hover{
    background-color: green;
}

.inputField{
    margin-left: 8px;
}