.ProductCard{
    border: 1px solid black;
    border-radius: 8px ;
    width: 100%;

}

.advancedButton{
    font-size: xx-small;
    width: 100%;
    background-color: white;
    color: grey;
}

.CardControl{
    display: flex;
    justify-content: end;
    margin-right: 8px;
    margin-top: 4px;
}

.ReorderBanner{
    background-color: red;
}

.LinkButton {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.LinkButton:hover {
    background-color: #0056b3;
}