:root{
    --highlight: #ED7D3A;
    --background: #FDFDFF;
    --menu: #102E4A;
    --border: #828E82;
    --highlightbackground: #718F94;
    --greenbutton: #82D173;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root{
    margin: 0;
    padding: 0;
    height: 100%;

}

.ProductListPage{
    width: 100%;
    background-color: var(--background);

}

.ListTitle{
    font-weight: bold;
    display: flex;

    padding-left: 8px;
    
    align-content: center;
}

.ControlPanel{
    display: flex;
    justify-content: flex-start;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 4px;
}

.AddButton{
    background-color: var(--greenbutton);
    color: black;
    padding: 4px;
    font-size: 0.5em;
    border-radius: 5px;
}

.ProductList{
    list-style-type: none;
    margin: 4px;
    padding-left: 4px;
    padding-right: 4px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

}

.ProductRecord{
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
}

.QRWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.DataWrapper{
    list-style-type: none;
    
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;



    padding-top: 4px;
    padding-bottom: 4px;
}


.ProductLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5em;
    padding-left: 8px;
}

.ProductProperties, .PriceProperties, .Category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5em;
    padding-left: 8px;
    padding-right: 8px;
}



.DeleteButton{
    background-color: lightcoral;
    color: white;
    margin-right: 8px;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
}

.DeleteButton:hover{
    background-color: red;
}
